{% extends 'base.html' %}
<a href="https://codepen.io/ZonFire99/full/njdls/" class="viewFull" target="_parent">View in full it looks way better :)</a>
{% block link %}<link href="{{ url_for('static' , filename='404.css')}}" rel="stylesheet" type="text/css" />{% endblock link %}
{% block title %}404{% endblock title %}

{% block content %}
<div class="error">

<div class="wrap">
  <div class="404">
    <pre><code>
   <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
<span class="orange">&lt;html&gt;</span>
    <span class="orange">&lt;style&gt;</span>
   * {
            <span class="green">everything</span>:<span class="blue">awesome</span>;
}
     <span class="orange">&lt;/style&gt;</span>
 <span class="orange">&lt;body&gt;</span> 
              ERROR 404!
        route is bad :O
        <span class="comment">&lt;!--LOL bro pls go back.--&gt;
    </span>
 <span class="orange"></span> 
        


</div>
<br />
<span class="info">
<br />

<span class="orange">&nbsp;&lt;/body&gt;</span>

<br/>
      <span class="orange">&lt;/html&gt;</span>
    </code></pre>
  </div>
</div>


</span>
{% endblock content %}
