<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFT-UPLOADER | {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static' , filename='script.js') }}" defer></script>
    {% block link %}{% endblock link %}
    {% block link2 %}{% endblock link2 %}
</head>
<body>
    {% include 'include/navbar.html' %}
    {% block message %}{% endblock message %}
    {% block content %}{% endblock content %}
</body>
</html>