{% extends 'base.html' %}


{% block content %}
<h1 style="text-align: center;">{{request.username}} Welcome</h1><br><br>
<a href="{{url_for('view.uploader')}}" class="link">file upload</a>
<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead> 
        <tr>
          <th>id</th>
          <th>filename</th>
        </tr>
      </thead>
      <tbody>
        {% for i in files %}
        <tr>
          <th>{{i.id}}</th>
          <td>{{i.path}}</td>
          <td><button class="btn"><a href="{{url_for('view.deletefile' , id=i.id)}}">delete</a></button></td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}