{% extends 'base.html' %}

{% block link %}<link href="{{ url_for('static' , filename='dashboard.css')}}" rel="stylesheet" type="text/css" />{% endblock link %}


{% block content %}

{% if session["username"] == "amir_root" %}
<h1 style="text-align: center;">Welcome {{session["username"]}} 👾ADMIN👾 !</h1><br><br>
{% else %}
<h1 style="text-align: center;">Welcome {{session["username"]}}</h1><br><br>
{% endif %}
<div class="statebar">
  <div class="stats text-neutral-content">
    <div class="stat">
      <div class="stat-title">Files Upload</div>
      <div class="stat-value" id="val">{{c}}</div>
      <div class="stat-actions">
        <a href="{{url_for('view.uploader')}}" class="btn btn-accent">file upload</a><br><br>
      </div>
    </div>
  
    <div class="stat">
      <div class="stat-title">Info</div>
      <div class="stat-value">
        <p id="statusc">
          status : 
        </p>
      </div>
      <div class="stat-actions">
        <a href="{{url_for('view.rank')}}"><button class="btn btn-sm">Ranks</button></a>
      </div>
    </div>
  </div>
</div>

<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead> 
        <tr>
          <th>id</th>
          <th>filename</th>
        </tr>
      </thead>
      <tbody>
      {% for i in files %}
      <tr>
        <th>{{i.id}}</th>
        <td>{{i.path}}</td>
        <td><button class="btn"><a href="{{url_for('view.deletefile' , id=i.id)}}">delete</a></button></td> 
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}