{% extends 'base.html' %}

{% block link %}<link href="{{ url_for('static' , filename='index.css')}}" rel="stylesheet" type="text/css" />{% endblock link %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="index">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  <p id='head1' class='header'>This is a site for uploader</p>
  <p id='head2' class='header'>Just</p>
  <p id='head3' class='header'>For you</p>
  <p id='head4' class='header'>simple and awesome all the time</p>
  <p id='head5' class='header'>Welcome to MFT-UPLOADER</p>

    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
</div>
<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  <li>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">1 step</time>
      <div class="text-lg font-black">Login or Register</div>
      you should login or register in this site for activate uploader tool
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-end mb-10">
      <time class="font-mono italic">step 2</time>
      <div class="text-lg font-black">Go to The dashboard</div>
      go to the dashboard and click to upload link  and ...
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">step 3</time>
      <div class="text-lg font-black">upload Your File</div>
      and you can upload file but you cant upload anthink in this site ;D
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-end mb-10">
      <time class="font-mono italic">Final step</time>
      <div class="text-lg font-black">Share your simple Download link</div>
      you can share a download link for your friend and enjoy it ! :D
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">attenaion</time>
      <div class="text-lg font-black">!!!!!!</div>
      this site is a homework site for mft and develop with ❤️
    </div>
  </li>
</ul><br><br>
<div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th>id</th>
          <th>sender</th>
          <th>filename</th>
        </tr>
      </thead>
      {% for i in get_db %}
      <tbody>
            <td>{{i.id}}</td>
            <td>{{i.user}}</td>
            <td>{{i.path}}</td>
            <td><a href="uploads/{{i.path}}" class="btn">Download</a></td>
            {% if session["admin_val"] %}
            <td><a href="{{url_for('view.deletefile' , id=i.id)}}" class="btn" >delete</a></td>
            {% endif %}
      </tbody>
      {% endfor %}
    </table>
  </div><br><br><br>
  <footer class="footer footer-center bg-accent-content text-neutral-content p-10">
    <aside>
      <svg
        width="50"
        height="50"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
        class="inline-block fill-current">
        <path
          d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
      </svg>
      <p class="font-bold">
        MFT-UPLOADER.
        <br />
        develop with ❤️
      </p>
      <p>Copyright © 2024 - All right reserved</p>
    </aside>

  </footer>

{% endblock content %}