{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block link %}<link href="{{ url_for('static' , filename='register.css') }}" rel="stylesheet" type="text/css" />{% endblock link %}
{% block link2 %}
<script src=
"https://cdn.jsdelivr.net/npm/sweetalert2@10">
</script>
{% endblock link2 %}

{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for  category,message in messages %}
    <div role="alert" class="alert alert-{{category}}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{message}}</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock message %}
{% block content %}


<div class="header">

    <h1>Register</h1>

</div>

<div class="master">
<form action="" method="post">
    <input type="text" name="username" id="username" class="input input-bordered w-full max-w-xs" placeholder="username"><br><br>
    <input type="email" name="email" id="email" class="input input-bordered w-full max-w-xs" placeholder="email"><br><br>
    <input type="password" name="password" id="password" class="input input-bordered w-full max-w-xs" placeholder="password"><br><br>
    <input type="password" name="password" id="conpassword" class="input input-bordered w-full max-w-xs" placeholder="confirm-password"><br><br>
    <button type="submit" class="btn">Register</button>

</form>
</div>

{% endblock content %}