{% extends "base.html" %}

{% block title %}register{% endblock title %}

{% block link %}<link href="{{ url_for('static' , filename='register.css') }}" rel="stylesheet" type="text/css" />{% endblock link %}

{% block content %}

<div class="header">

    <h1>Register</h1>

</div>

<div class="master">
<form action="" method="post">
    <input type="text" name="username" id="username" class="input input-bordered w-full max-w-xs" placeholder="username">
    <input type="email" name="email" id="email" class="input input-bordered w-full max-w-xs" placeholder="email">
    <input type="password" name="password" id="password" class="input input-bordered w-full max-w-xs" placeholder="password">
    <button type="submit" class="btn">Register</button>

</form>
</div>

{% endblock content %}